{{ define "main" }}

<style> 

    @import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

    .post-download-hero-image {
        height: 40rem; 
        width: 100%; 
        display: block; 
        background: url(images/pages/sonny-have-fun.webp); 
        background-size: cover; 
        background-position: center;
    }

    .post-download-hero-content {
        position: absolute;
        text-align: center;
        width: 100%;
        color: white;
    }

    .post-download-hero-content h2 {
        font-size: 4rem;
        text-shadow: 0 0 9px black;
        margin-top: 31rem;
        font-family: 'Kaushan Script', 'Sedgwick Ave';
    }

    .instructions {
        background: #403f58;
        opacity: 0.9;
        padding: 1rem;
        display: inline-block;
        width: 100%;       
    }
    .instructions span, .instructions a {
        color: #d8d8d8;
    }

    .community-area img {
        width: 100%;
        margin-bottom: 0.5rem;
    }

</style>



<div class="post-download-hero-image">
    <span class="post-download-hero-content">
        <h2>Have Fun Painting</h2>
    </span>
</div>

<div>
    <div class="instructions">
        <span>Having trouble downloading? <a href="https://download.kde.org/stable/krita/" target="_blank">Visit the Downloads area</a>.</span>
        <span style="float: right">{{ i18n "art-by" }} <a href="https://krita-artists.org/u/sonny/activity/portfolio" target="_blank">Sonny</a></span>
    </div>
    
</div>

<div class="container-padding">

    <h1 style="text-align: center; margin-top: 1rem">What's Next</h1>


    <div class="row community-area">

        <h3>Connect with the Community</h3>

        <div class="col-md-6" >      
            <p>Share artwork and ask questions on the <a href="https://krita-artists.org/">Krita artists</a> forum.</p>
            <a href="https://krita-artists.org/" target="_blank">
                <img src="images/pages/krita-artists-shot.png" />
            </a>            
        </div>

        <div class="col-md-6" >
            <p>See the <a href="https://www.youtube.com/channel/UCkIccKaHDGA8lYVmUerLhag/videos" target="_blank">Krita YouTube channel</a> to learn about new brushes and techniques.</p>

            <a href="https://www.youtube.com/channel/UCkIccKaHDGA8lYVmUerLhag/videos" target="_blank">
                <img src="images/pages/youtube-channel.png" />
            </a>
        </div>  
    </div>

    <h3>Free Learning Resources</h3>

    <div class="row">
        <div class="col-md-4">
            <img src="images/pages/icon-getting-started-1.png" />
            <a href="https://docs.krita.org/en/user_manual/getting_started.html">Getting Started</a>
        </div>
        <div class="col-md-4">
            <img src="images/pages/icon-user-interface-1.png" />
            <a href="https://docs.krita.org/en/user_manual/getting_started/navigation.html">User Interface</a>
        </div>
        <div class="col-md-4">
            <img src="images/pages/icon-general-concepts-1.png" />
            <a href="https://docs.krita.org/en/user_manual/getting_started/basic_concepts.html">Basic Concepts</a>
        </div>
        <div class="col-md-4">
            <img src="images/pages/icon-drawing-assistants-1.png" />
            <a href="https://docs.krita.org/en/user_manual/painting_with_assistants.html">Drawing Assistants</a>
        </div>
        <div class="col-md-4">
            <img src="images/pages/icon-animation-1.png" />
            <a href="https://docs.krita.org/en/user_manual/animation.html">Animations</a>
        </div>
        <div class="col-md-4">
            <img src="images/pages/icon-tutorials-1.png" />
            <a href="https://docs.krita.org/en/tutorials.html">Tutorials</a>
        </div>
        <div class="col-md-4">
            <img src="images/pages/icon-user-manual-1.png" />
            <a href="https://docs.krita.org/en/user_manual.html">User Manual</a>
        </div>
        <div class="col-md-4">
            <img src="images/pages/icon-wet-drop-1.png" />
            <a href="https://docs.krita.org/en/user_manual/layers_and_masks.html">Layers and Masks</a>
        </div>
    </div>


</div>









{{ .Content }}

{{ end }}
