// SPDX-FileCopyrightText: 2022 Carl Schwan <carl@carlschwan.eu>
// SPDX-FileCopyrightText: 2022 raghukamath <raghukamath@raghukamath.com>
// SPDX-License-Identifier: GPL-3.0-or-later

// root var define css variables here


:root {
   --system-fonts: -apple-system, BlinkMacSystemFont,"Segoe UI", "Roboto", "Oxygen-Sans", "Ubuntu", "Cantarell","Helvetica Neue", "Open Sans", "Noto Sans", "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
   --main-text-color: #403f58;
}


/* fonts */

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/Inter-Regular.woff2?v=3.13") format("woff2"),
       url("/fonts/Inter-Regular.woff?v=3.13") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/Inter-Italic.woff2?v=3.13") format("woff2"),
       url("/fonts/Inter-Italic.woff?v=3.13") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 700;
  font-display: swap;
  src: url("/fonts/Inter-Bold.woff2?v=3.13") format("woff2"),
       url("/fonts/Inter-Bold.woff?v=3.13") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 700;
  font-display: swap;
  src: url("/fonts/Inter-BoldItalic.woff2?v=3.13") format("woff2"),
       url("/fonts/Inter-BoldItalic.woff?v=3.13") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 900;
  font-display: swap;
  src: url("/fonts/Inter-Black.woff2?v=3.13") format("woff2"),
       url("/fonts/Inter-Black.woff?v=3.13") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 900;
  font-display: swap;
  src: url("/fonts/Inter-BlackItalic.woff2?v=3.13") format("woff2"),
       url("/fonts/Inter-BlackItalic.woff?v=3.13") format("woff");
}


// Bootstrap variable overwritting
$body-color: #403f58;
$link-color: #44a9c2;
$link-hover-decoration: none;

// Global import


// Local import
@import "typography";
@import "style";

