$mobile-breakpoint: 800px;
$max-screen-width-size: 1400px;

/* LAYOUT */

a {
  color: #5a9dd9;

  &:hover {
    text-decoration: none;
  }
}


audio {
  display: block;
  width: 100%;
}

figure {
  text-align: center;
}
figcaption {
  margin: 0.5rem;
  font-style: italic;
}

body {
  margin: 0;
}

img {
  max-width: 100%;
}

h2, h3, h4 {
  margin-top: 3rem;
}

ul.main-menu {
  display: inline-block;
  margin: 0;

  @media only screen and (max-width: $mobile-breakpoint) {
    padding: 0;
  }

  li {
    list-style: none;
    display: inline-block;
    margin: 0 0.5rem;
    padding: 0.3rem;
    &:hover {
      border-bottom: 4px solid #d6dbe0;
      color: #d6dbe0;
      a {
        color: #aeb5bd;
      }
    }

    &.donate-button {
      border-bottom: 0 !important;
    }
    &.active {
      border-bottom: 4px solid #48698b;
    }
  }

  a {
    color: #48698b;
  }

  a.button {
    color: white;
  }
}

.flex-spacer {
  // used in flexbox displays to help align things to end
  flex: auto;
}

.max-content-width {
  margin: auto;
  max-width: $max-screen-width-size;
}


nav.site-nav {
  display: flex;
  padding: 0.5rem;
  justify-content: space-between;

  a {
    text-decoration: none;
  }

  @media only screen and (max-width: $mobile-breakpoint) {
    display: none;
  }
}
nav.mobile-site-nav {
  display: none;

  @media only screen and (max-width: $mobile-breakpoint) {
    display: block;
    position: fixed;
    width: 100%;
    bottom: 0;
    height: 56px;
    padding: 0.5rem;
    background: #d7f2ff;
    box-shadow: 0px 0px 4px black;
    z-index: 9;
  }

  .drop-down-menu {
    border: 1px solid #b3b3b3;
    color: #2d2525;
    float: right;
  }

}


.inline {
  display: inline-block;
}

.logo {
  font-size: 1.8rem;
  color: white;
}

.tabbed-section-container {
  padding: 0.5rem;
  background: #506782;
}
.tabbed-section-container a {
  color: #d9d9d9;
  text-decoration: none;
 }
 .tabbed-section-container a:hover {
  color: white;
 }

.container-padding {
  padding: 2rem;
  max-width: $max-screen-width-size;
  margin: auto;

  &.credits {
    padding: 0.5rem;

    @media only screen and (max-width: $mobile-breakpoint) {
      text-align: center;

      div {
        padding: 0.5rem;
      }
    }

  }
}


.dark {
  background: #253136;
}
.dark h2, .dark h3, .dark li, .dark p {
  color: white;
}


/* LISTS */

.thumbnail-container {
  width: 15rem;
  height: 15rem;
  box-shadow: 3px 3px 3px #868686;
  margin: auto;

  @media only screen and (max-width: $mobile-breakpoint) {
    width: 100%;
    height: 230px;
    display: block;
    margin-bottom: 1rem;
  }
}


.post {
  margin: 0 19%;
  margin-top: 5rem;
  max-width: $max-screen-width-size;

  @media only screen and (max-width: $mobile-breakpoint) {
    margin: 0 8%;
    margin-top: 5rem;
  }

}

.vertical-divider {
  color: #d4bfbf;
  font-weight: bold;
  margin: 0 0.25rem;
}

.posts-listing {
  display: grid;
  column-gap: 4%;
  margin: 0%;

  @media only screen and (max-width: $mobile-breakpoint) {
    display: grid;
    grid-template-columns: 100%;
    column-gap: 1%;
  }

  a {
    color: black;
    font-weight: normal;
    &:hover {
      text-decoration: none;
    }
  }
}

.post-snippet {
  padding: 2rem;

  border-radius: 3px;
  margin-bottom: 1rem;

  & h2 {
    margin-bottom: 0.25rem;
    margin-top: 0;
  }
  
  & a {
    font-size: 1.5rem;
  }

  @media only screen and (max-width: $mobile-breakpoint) {
    padding: 1rem;
 }
 
}



.card {
  text-decoration: none;

  & article {
    transition: all 0.2s ease-in;

    &:hover {
      background: #f2f3f3;
    }
    &:hover h2 {
      text-decoration: underline;
    }
  }
  
}


.preview {
  display: grid;
  column-gap: 25px;
}
@media only screen and (max-width: $mobile-breakpoint) {
  .preview {
    display: block;
  }

}


.section {
  grid-row: 1 / span 2;
}

section.news {
  padding: 1rem;
  background: white;
  transition: all 0.2s linear;

  & a {
    text-decoration: none;
    color: #4a4545;
    font-size: 100%;
    line-height: 120%;
  }

  & div {
    margin-bottom: 0.5rem;
  }

  & .title {
    font-size: 120%;
  }

  &:hover .title {
    text-decoration: underline;
  }

  &:hover {
    background: #f1f1f1;
    border-radius: 3px;
  }
}






/* button style (which is in an anchor tag for a link) */
a.button, .button, .primary-button {
  text-decoration: none;
  background: -webkit-linear-gradient(top, #39a3f2 1%, #0078f9 100%);
  background: linear-gradient(to bottom, #39a3f2 1%, #0078f9 100%);
  text-align: center;
  display: inline-block;
  font-size: 0.8rem;
  padding: 0.5rem 1.5rem;
  border-radius: 0.2em;
  border: 0;
  color: white;
  box-shadow: 2px 2px 3px #82aac7;
  text-transform: uppercase;
}
a.button:hover,
.primary-button:hover {
  background: -webkit-linear-gradient(top, #6bb9f5 1%, #0078f9 100%);
  background: linear-gradient(to bottom, #6bb9f5 1%, #0078f9 100%);
  color: white;
}


a.button.ghost, .ghost {
  background: none;
  border: 2px solid #2cadc9;
  box-shadow: none;
  color: #2cadc9;
  margin-bottom: 1rem;
  margin-right: 0.5rem;
  transition: all 0.5s ease;
  font-size: 80%;
}
a.button.ghost:hover, .ghost:hover {
  border: 2px solid rgb(180, 240, 255);
}













/* These two classes help keep youtube video a 16:9 aspect ratio 
   The youtube embed code needs a wrapper. This code is used in the features template
*/
.video_wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9, for an aspect ratio of 1:1 change to this value to 100% */ 
}
iframe{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


/* homepage styles */
.homepage-hero-image {
  height: 30rem; 
  width: 100%; 
  display: block; 
  background: url(/images/hero-image-50.png); 
  background-size: cover;
  max-width: $max-screen-width-size;
  margin: auto;
  box-shadow: 0px 5px 5px 0px grey;
}

.homepage-team-photo {
  background: url(/images/krita-team-donation.jpg); 
  height: 30rem;  
  background-size: cover; 
  background-position: center;
  margin: auto;
  margin-bottom: 0.5rem;
  max-width: 1400px;
}


.homepage-hero-content {
  background: #fff;
  padding: 1rem;
  margin: 1rem;
  max-width: 24rem;
  position: relative;
  top: 6rem;
  right: 4rem;
  box-shadow: 3px 3px 4px rgba(70, 68, 96, .70);
  float: right;

  @media only screen and (max-width: $mobile-breakpoint) {
    right: auto;
    display: block;
  }

}

.homepage-card {
  background: #eafaff;
  background: radial-gradient(circle, rgb(255, 255, 255) 30%, rgb(227, 250, 247) 100%);
  margin-bottom: 1rem;
  border: 1px solid #c7f0ff;

  & h3 {
    margin-top: 0;
  }

  & p {
    padding: 0;
    margin-bottom: 1rem;
    display: block;
  }

  & a {
    margin: 0;
  
  }

  & .hero {
    min-height: 22rem;
    background-size: cover;
    background-position: center;
  }

  & .credit {
    color: white; 
    text-shadow: black; 
    position: relative;
    top: 87%; 
    text-shadow: 0px 0px 15px black;
  }

  & .credit a {
    color: white; 
    text-decoration: none;
    margin: 0;
  }

  & .credit a:hover {
     text-decoration: underline;
  }

  & .content {
    padding: 3rem;
  }



}


.slim-her-title-container {
  margin: 0 17%;

  @media only screen and (max-width: $mobile-breakpoint) {
    margin: 0;
  }
}

#slim-hero {
  width: 100%; 
  height: 25rem; 
  margin: auto;
  max-width: $max-screen-width-size;
  box-shadow: 0 2px 4px 0px grey;
}

.slim-hero-title {
  top: 8rem; 
  position: relative; 
  text-align: center;

  @media only screen and (max-width: $mobile-breakpoint) {
    font-size: 0.7rem;
  }

  h1 {
    background: white; 
    padding: 0.5rem 1rem;
    display: inline-block; 
    margin-bottom: 0;
  }

}

.slim-hero-credit-container {
  margin: 0 17%; 
  padding: 0.5rem;
}
.hero-credit{
  color: grey;
  text-align: center;

  @media only screen and (max-width: $mobile-breakpoint) {
    float: none;
    text-align: center;
  }


  a{
    color: grey;

    &:hover {
      text-decoration: none;
    }

  }

}


.full-width-panel {
  padding: 2rem;
  color: white;
  background: #324148;
  text-align: center;
  padding-bottom: 6rem;
  max-width: $max-screen-width-size;
  margin: auto;

  & h2 {
    font-size: 3.5rem;
    color: white;
  }

  & p {
    color: white;
  }
}


.hero-credits {
  background: #324148;
  padding: 0.5rem; 
  max-width: $max-screen-width-size;
  margin: auto;

  & div, & a{
    color: #bab8b8;
  }

  & img {
    height: 20px;
  }
}


.social-media .grow-container {
  width: 2rem;
  display: inline-block;
}

.social-media a {
  text-decoration: none;

	color: #ccc;
	display: inline-block;
  border-radius: 25%;
	transition: all 0.2s ease;

  &:hover {
    background: rgb(83, 91, 96);
    animation: circle-anim 0.3s ease forwards;
    transition: all 0.4s ease;
  }
}


.rss-icon {
  width: 20px;
  position: relative;
  top: -0.5rem;

  &:hover {
    opacity: 0.8;
  }
}

@keyframes circle-anim{
	0% {
		
	}
	
	90%{
		padding: 0.35em;
		margin: -0.35em; 
	}
	
	100%{
		padding: 0.25em;
		margin: -0.25em; 
	}
}





/* footer styles */
footer {
  margin-top: 0;
  background: #324148;
  padding: 1rem;

  & p {
    color: #a8a5a5;
  }
  
  & a {
    display: block;
    text-align: left;
    color: #91b3c3;
    fill: #91b3c3;
    text-decoration: none;
  }
  & a:hover {
    text-decoration: underline;
    color: #91b3c3; 
  }
  
  & h4 {
    text-align: left;
    color: white;
  }

}

.footer-section {
  margin-bottom: 2rem;
}


#dropdownMenuLangauge {
  background: none;
  border: none;
  color: var(--main-text-color);
}

#language-dropdown-list {
  top: -0.1rem;
  position: relative;

  &:hover {
    border-bottom: none;
    color: var(--main-text-color);

    ul li:hover {
      border-bottom: none;
    }

    a {
      color: var(--main-text-color);
    }
  }
}


/* Features page area */

.features-homepage-image {
  height: 30rem; 
  width: 100%; 
  display: block; 
  background: url(/images/pages/ngan-pham-03-2-resize.webp); 
  background-size: cover; 
  background-position: center top;
  max-width: $max-screen-width-size;
  margin: auto;
  margin-bottom: 0.5rem;
  box-shadow: 0 2px 4px 0px grey;
}

.features-hero-content {
  text-align: center;
  color: #5f767b;
  font-size: 2.5rem;



  position: relative;
  float: right;
  top: 7rem;
  margin-right: 6rem;

 

  ul {
    list-style: none;


    li {
      color: white;
      margin-bottom: 0;
      font-family: roboto slab,sans-serif;

      --features-stroke-color: #1e5431;
      text-shadow: -1px 1px 0 var(--features-stroke-color),
      1px 1px 0 var(--features-stroke-color),
     1px -1px 0 var(--features-stroke-color),
    -1px -1px 0 var(--features-stroke-color);

    text-shadow: 3px grey;

    }
  }

  @media only screen and (max-width: $mobile-breakpoint) {
    font-size: 1.8rem;
    float: none;
  }

}



div.feature-section {
  margin-bottom: 2rem;
  padding: 2rem;
  padding-bottom: 0;

  img {
    margin: 1rem 0;
    padding: 0;
    border-radius: 3px;
    border: 1px solid grey;
  }

}

.productivity-section .box {
  margin: 1rem;
  border: 1px solid #dfdfdf;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  border-radius: 5px;
  min-height: 20rem;

  img {
    width: auto;
    display: inline-block;
    padding: 0;
    position: relative;
    top: -5px;
  }

  h4 {
    display: inline-block;
  }
}


.external-link-icon {
  vertical-align: baseline;
  margin-left: 0.25rem;
  fill: #827777;
}



/* Download page */

.download-hero-image {
  height: 35rem; 
  width: 100%; 
  display: block; 
  text-align: center;
  background: url(/images/pages/philipp-a-urlich-trees.webp); 
  background-size: cover; 
  background-position: center;
  max-width: $max-screen-width-size;
  margin: auto;
  margin-bottom: 0.5rem;
  box-shadow: 0 2px 4px grey;
}

.download-hero-content {
  background: white;
  padding: 1rem 2rem;
  display: inline-block;
  position: relative;
  top: 10rem;      
  box-shadow: 0px 0px 7px 0px #00000075;
  border-radius: 5px;

  a.button {
    margin-bottom: 0.5rem;
  }

  @media only screen and (max-width: $mobile-breakpoint) {
    top: 4rem;   
    margin: 2rem;   
  }
  
}

// Shop Page

.shop-item {
  width: 100%; 
  height: 100%; 

  @media only screen and (max-width: $mobile-breakpoint) {
    height: 10rem; 
    margin-bottom: 1rem;  
  }

}



#back-to-top-button {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 0px 3px;
  background: #fff;
  font-size: 2rem;
  cursor: pointer;
  border-width: 1px;;

  @media only screen and (max-width: $mobile-breakpoint) {
    bottom: 4rem; 
  }
}


#cookies-message {
  position: fixed;
  width: 100%;
  bottom: 0px;
  background: #c6e9f3;
  padding: 0.75rem;
  color: #4e4e4e;
  text-align: center;
  box-shadow: 0 -1px 19px #343434;

  @media only screen and (max-width: $mobile-breakpoint) {
    bottom: 4rem; 
  }

}

#acceptCookieButton {
  border-radius: 5px;
  background: none;
  border: 1px solid black;
  margin: 0 1rem;
  padding: 0.25rem 1rem;
}

.language-select-list {
  overflow-y: scroll;
  height: 13rem;
}

// Adds a slight hover effect to KDE logo (homepage)
.home-kdelogo:hover {
  filter: brightness(80%);
  transition: all 0.2s ease;
}