{{ define "main" }}

<style>
    a img.icon {
        height: 25px;
    }

    .all-installer-options a {
        display: block;
        width: max-content;
    }
</style>

<div class="download-hero-image">

        <span class="download-hero-content">
            <h2 style="margin-top: 0">{{ i18n "download-krita" }} {{ .Site.Params.releaseVersion }}</h2>
            <p>{{ i18n "released-on" }}: {{ .Site.Params.releaseDate }} | <a href="{{ relLangURL (print "/release-notes/" .Site.Params.downloadPageReleaseNotes) }}">{{ i18n "release-notes" }}</a></p>

            
            <a id="windows-download" style="display: none" href="{{ .Site.Params.windowsInstallerUrl }}" class="button downloadable">  
                <img src="images/download-icon-windows.png" class="icon" /> {{ i18n "windows-installer" }}
            </a>
            
            <a id="macOS-download" style="display: none"  href="{{ .Site.Params.macInstallerUrl }}" class="button downloadable">  
                <img src="images/download-icon-osx.png" class="icon" /> {{ i18n "mac-installer" }}
            </a>

            <div id="linux-download" style="display: none"  >

                <a href="{{ .Site.Params.appImageUrl }}" class="button downloadable">  
                    <img src="images/download-icon-linux.png" class="icon" /> {{ i18n "linux-appimage" }}
                </a>

                <p style="margin-top: 1rem">
                    <strong>{{ i18n "flatpak" }}</strong> &mdash;
                    <a href="https://flathub.org/apps/details/org.kde.krita" target="_blank">{{ i18n "hosted-on-flathub" }}</a> {{ i18n "maintained-by-community" }}
                </p>
    
                <p>
                    <strong>{{ i18n "gentoo" }}</strong> &mdash; {{ i18n "maintained-by-community" }} {{ i18n "run" }}: <code style="display:inline">emerge krita</code>
                </p>

            </div>





            <span id="ios-download-information" style="display:none">
                <p>
                    <img 
                        src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%2020%2020'%3E%3C/svg%3E" 
                        data-src=images/pages/warning-icon.png height="20" width="20">
                        {{ i18n "iPadsiOSNotSupported" }}
                </p>
            </span>

            <span id="android-download-information" style="display:none">
                <a href="https://play.google.com/store/apps/details?id=org.krita" 
                    class="button download-trigger piwik_download" target="_blank" style="display:inline-block; margin-bottom: 0.5em;">
                <img class="lazy" height="30" width="30" 
                    src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%2030%2030'%3E%3C/svg%3E" 
                    data-src="images/pages/play-store.png">
                    Google Play Store </a>
                <a href="{{ .Site.Params.androidApkBuildsUrl }}" target="_blank" style="display: block;">{{ i18n "see-android-apk-builds" }}</a>
            </span>


            <hr />

            <div class="row all-installer-options" style="margin-bottom: 1rem;">
                <div class="col-md-6">          
                        <a href="{{ .Site.Params.windowsInstallerUrl }}" class="downloadable">{{ i18n "windows-installer" }}</a>
                        <a href="{{ .Site.Params.windowsPortableUrl }}" class="downloadable">{{ i18n "windows-portable" }}</a>
                </div>

                <div class="col-md-6">  
                    <a href="{{ .Site.Params.macInstallerUrl }}" class="downloadable">{{ i18n "mac-installer" }}</a>
                    <a href="{{ .Site.Params.appImageUrl }}" class="downloadable">{{ i18n "linux-appimage" }}</a>
                </div>

            </div>
        </span>
    
</div>



<div class="hero-credit">
    {{ i18n "art-by" }} <a href="https://www.artstation.com/somartist" target="_blank">Philipp A. Urlich {{ partial "external-link-icon.html" }}</a>
</div>


<div class="container-padding">

    <div class="row">
        <div class="col-md-6">
            <h3>System Requirements</h3>
            <ul>
                <li><strong>Operating System</strong>: Windows 8.1 or Higher, OSX 10.12, Linux</li>
                <li><strong>RAM</strong>: Required 4GB. Recommended 16GB</li>
                <li><strong>GPU (Optional)</strong>: OpenGL 3.0 or higher</li>
                <li><strong>Graphics Tablet Brand</strong>: Any tablet compatible with your operating system</li>
            </ul>
        </div>

        <div class="col-md-6">
            <h3>Store Version</h3>
            <p>Paid versions of Krita on other platforms. You will get automatic updates when new versions of Krita come out. After deduction of the Store fee, the money will support Krita development. For the Windows store version you will need Windows 10.</p>
            <a href="https://www.microsoft.com/en-us/store/p/krita/9n6x57zgrw96" class="button ghost">Windows Store</a>
            <a href="https://store.steampowered.com/app/280680/Krita_Gemini/" class="button ghost">Steam Store</a>
            <a href="https://www.epicgames.com/store/p/krita" class="button ghost">Epic Store</a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <h3>Nightly Builds</h3>
            <p>Bleeding edge builds that are created every day.</p>

            <p><strong>Krita Plus</strong> (<a href="https://binary-factory.kde.org/job/Krita_Stable_Windows_Build/" target="_blank">Windows</a> | <a href="https://binary-factory.kde.org/job/Krita_Stable_Appimage_Build/" target="_blank">Linux</a> | <a href="https://binary-factory.kde.org/job/Krita_Stable_MacOS_Build/" target="_blank">macOS</a>) <br/> Contains bug fixes on top of the latest 5.0 release.</p>

            <p><strong>Krita Next</strong>  (<a href="https://binary-factory.kde.org/job/Krita_Nightly_Appimage_Build/" target="_blank">Windows</a> | <a href="https://binary-factory.kde.org/job/Krita_Nightly_Appimage_Build/" target="_blank">Linx</a> | <a href="https://binary-factory.kde.org/job/Krita_Nightly_MacOS_Build/" target="_blank">macOS</a>) <br/> 
                What will become Krita 5.1. Install at your own risk!</p>
        </div>
        <div class="col-md-6">
            <h3>Windows Shell Extension</h3>
            <p>The Shell extension is included with the Windows Installer. An optional add-on for Windows that allow KRA thumbnails to appear in your file browser.</p>
            <a href="https://download.kde.org/stable/krita/KritaShellExtension-v1.2.4b-setup.exe" class="button ghost" target="_blank">Download</a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <h3>Source Code</h3>
            <p>Krita is a free and open source application. You are free to study, modify, and distribute Krita under GNU GPL v3 license.</p>

            <a href="{{ .Site.Params.tarballUrl }}" class="button ghost" target="_blank">Tarball</a>
            <a href="https://invent.kde.org/graphics/krita" class="button ghost" target="_blank">KDE Repository</a>
        </div>

        <div class="col-md-6">
            <h3>Download Older Versions</h3>
            <p>If the newest version is giving you issues there are older versions available for download. New versions of Krita on Windows do not support 32-bit.</p>

            <a href="https://download.kde.org/Attic/krita/" class="button ghost" target="_blank">Old Version Library</a>
            <a href="https://download.kde.org/stable/krita/4.4.3/krita-x86-4.4.3-setup.exe" class="button ghost" target="_blank">Windows 32-bit version</a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <h3>GPG Signatures</h3>
            <p>Used to verify the integrity of your downloads. If you don't know what GPG is you can ignore it.</p>

            <a href="{{ .Site.Params.gpgSignatureUrl }}" class="button ghost" target="_blank">Download Signature</a>
        </div>
    </div>


</div>




<script>
    // script goes here which tries to auto-detect which version to download
    // instead of how we did it, we could list them as a UL, then move the "smart" option to the top and make a button
    // while the other options are lower and just look like links
    function findOS() {
          var currentOS = '';
          if ( navigator.appVersion.indexOf("Win") != -1 ) { currentOS = "Windows";  }
          else if ( navigator.appVersion.indexOf("Mac") != -1) { currentOS = "MacOS"; }
          else if ( navigator.appVersion.indexOf("Android") != -1) { OSName = "Android"; }
          else if( navigator.appVersion.indexOf("iPhone") != -1) { OSName = "iPhone"; }
          else if( navigator.appVersion.indexOf("X11") != -1) { OSName = "UNIX"; }
          else if( navigator.appVersion.indexOf("iPad") != -1 ) { OSName = "iPad"; }
          else { currentOS="Linux"; }

          return currentOS;
    }
    let currentOS = findOS();
    

    // show download button for appropriate OS
    if(currentOS === 'Windows' ) {
        document.querySelector('#windows-download').setAttribute('style', 'display: block');
    }
    else if(currentOS === 'MacOS' ) {
        document.querySelector('#macOS-download').setAttribute('style', 'display: block');
    }
    else if( OSName === "iPhone" || OSName=='iPad' ) {
        document.querySelector("#ios-download-information").setAttribute('style', 'display: block');
    }
    else if(OSName === "Android") { 
        document.querySelector("#android-download-information").setAttribute('style', 'display: block');
    }
    else {
        // should be either Unix or Linux options
        document.querySelector('#linux-download').setAttribute('style', 'display: block');
    }


    
    // add event listener to all the download links to go to the post-download page after X seconds
    function gotoPostDownloadPage() {
        location.href = '{{ relLangURL "/post-download" }}'
    }    
    document.querySelector('.downloadable').addEventListener('click', event => {
        setTimeout(gotoPostDownloadPage, 5000) // second parameter is time to wait to go to download page 1s = 1000
    })

</script>



{{ .Content }}

{{ end }}
