<!DOCTYPE html>
<html lang="{{ .Language }}">
<head>
    {{- partial "head.html" . }}
</head>
<body>
    {{- partial "nav.html" . }}
    <main class="content">
    {{- block "main" . }}{{- end }}
    </main>
    {{- partial "footer.html" . }}
</body>
</html>
