{{ define "main" }}
<div class="post">
    <h1 style="margin-bottom: 0.5rem">{{ .Title }}</h1>

    <div style="text-align: center; margin-bottom: 2rem;">

        {{ if .PrevPage }}
        <a class="link-reverse" href="{{ .PrevPage.Permalink }}?ref=footer">{{ i18n "previous-post" }}</a>
        {{ end }}

        <span class="vertical-divider">|</span>

        <span>{{ .Date | time.Format ":date_long" }}</span> 
        <span class="vertical-divider">|</span>
        <span> Reading time: <em>{{ .ReadingTime }} min</em></span> 

        <span class="vertical-divider">|</span>

        {{ if .NextPage }}
        <a class="link-reverse" href="{{ .NextPage.Permalink }}?ref=footer">{{ i18n "next-post" }}</a>
        {{ end }}


    </div>

    {{ .Content }}
</div>
{{ end }}
