{{ define "main" }}
<style>

    .row img {
        width: 100%;
        padding-top: 0;
    }

    .row h3 {
        margin-top: 0;
    }
    
    .row.spacer {
        margin-top: 3rem;
    }
    h2 {
        text-align: center;
        margin-bottom: 2rem;
    }

  
</style>


<div class="features-homepage-image">

    <div class="container-padding">
        <span class="features-hero-content">
            
            <ul>
                <li>{{ i18n "no-trials" }}</li>
                <li>{{ i18n "no-subscriptions" }}</li>
                <li>{{ i18n "no-limits" }}</li>
            </ul>

        </span>
    </div>





</div>

<div class="hero-credit">     
        {{ i18n "art-by" }} <a href="https://twitter.com/Zevaniart" target="_blank">Ngan Pham {{ partial "external-link-icon.html" }}</a>
</div>



<div  class="container-padding">
    <h2>{{ i18n "clean-and-flexible" }}</h2>

    <div class="row" >
        <div class="col-md-12" style="margin-bottom: 2rem;">
            <img src="images/pages/application-screenshot.webp"  style="padding-bottom: 0.5rem" />
            <span class="hero-credit" style="display: block">{{ i18n "art-by" }}
                <a  href="https://www.artstation.com/sad_tea" target="_blank">Sad-tea {{ partial "external-link-icon.html" }}</a>
            </span>

    
        </div>
        <div class="col-md-6">
            <p>{{ i18n "an-intuitive-interface" }}</p>
            <a href="https://docs.krita.org/{{ .Site.Language.Lang }}/user_manual/getting_started/navigation.html#interface" class="ghost button">{{ i18n "learn-the-interface" }}</a>
        </div>

        <div class="col-md-6">
            <ul>
                <li>{{ i18n "customize-layout" }}</li>
                <li>{{ i18n "over-30-docker" }}</li>
                <li>{{ i18n "dark-light-themes" }}</li>
            </ul>
            
       
        </div>
    
    </div>


    <h2>{{ i18n "all-the-tools-you-need" }}</h2>

    <div class="row" >
        <div class="col-md-4 feature-section">
            <img src="images/pages/brush-presets.png" />
            <h3>{{ i18n "beautiful-brushes" }}</h3>
            <p>{{ i18n "over-100-brushes" }}</p>
            <a href="https://docs.krita.org/en/reference_manual/krita_4_preset_bundle.html" class="ghost button">{{ i18n "learn-more" }}</a>
        </div>

        <div class="col-md-4 feature-section">
            <img src="images/pages/brush-stabilizer.png" />
            <h3>{{ i18n "brush-stabilizer" }}</h3>
            <p>{{ i18n "brush-stabilizer-description" }}</p>
            <a href="https://docs.krita.org/en/reference_manual/tools/freehand_brush.html" class="ghost button">{{ i18n "learn-more" }}</a>
        </div>

        <div class="col-md-4 feature-section">
            <img src="images/pages/vector-libraries.png" />
            <h3>{{ i18n "vector-and-text" }}</h3>
            <p>{{ i18n "vector-and-text-description" }}</p>
            <a href="https://docs.krita.org/en/user_manual/vector_graphics.html" class="ghost button">{{ i18n "learn-more" }}</a>
        </div>
    </div>


    <div class="row" style="margin-top: 5rem;" >
        <div class="col-md-4 feature-section">
            <img src="images/pages/brush-engines.jpg" />
            <h3>{{ i18n "brush-engines" }}</h3>
            <p>{{ i18n "brush-engines-description" }}</p>
            <a href="https://docs.krita.org/en/reference_manual/brushes/brush_engines.html" class="ghost button">{{ i18n "learn-more" }}</a>
        </div>

        <div class="col-md-4 feature-section">
            <img src="images/pages/wrap-around-mode.jpg" />
            <h3>{{ i18n "wrap-around-mode" }}</h3>
            <p>{{ i18n "wrap-around-mode-description" }}</p>
            <a href="https://docs.krita.org/en/user_manual/introduction_from_other_software/introduction_from_sai.html#multibrush-mirror-symmetry-and-wrap-around" class="ghost button">{{ i18n "learn-more" }}</a>
        </div>

        <div class="col-md-4 feature-section">
            <img src="images/pages/resource-manager.jpg" />
            <h3>Resource Manager</h3>
            <p>Import brush and texture packs from other artists to expand your tool set. If you create some brushes that you love, share them with the world by creating your own bundles. Check out the brush packs that are available in the Resources area.</p>
            <a href="https://docs.krita.org/en/reference_manual/resource_management.html" class="ghost button">{{ i18n "learn-more" }}</a>
        </div>
    </div>

</div> <!-- end the content padding section-->


<div class="dark">
    <div  class="container-padding">
        <h2>Simple and Powerful 2D Animation</h2>

        <img src="images/pages/timeline-screenshot.png" style="margin-bottom: 3rem" />

        <div class="row">
            <div class="col-md-10">
                <p>Turn Krita into an animation studio by switching to the animation workspace. Bring your drawings to life by layering your animations, importing audio, and fine tuning your frames. When you are finished, share with your friends by exporting your creation to a video. Or just export the images to continue working in another application. </p>
            </div>

            <div class="col-md-2">
                <a href="https://docs.krita.org/en/user_manual/animation.html" class="button ghost" style="color: white;">Learn more</a>
            </div>
        </div>
        
        <hr style="color: white" />


        <div class="row spacer">

            <div class="col-md-4">
                <div class="video_wrapper">
                <iframe src="https://www.youtube.com/embed/CY5XppRTpBY"></iframe>
                </div>
            </div>

            <div class="col-md-4">
                <h3>Features</h3>
                <ul>
                    <li>Multiple layers and audio support</li>
                    <li>Supports 1,000s of frames on timeline</li>
                    <li>Playback controls with pausing, playing, and timeline scrubbing</li>
                    <li>Onion skinning support to help with in-betweens</li>
                    <li>Tweening with opacity and position changes</li>
                </ul>
            </div>

            <div class="col-md-4">
                <p>&nbsp;</p>
                <ul>
                    <li>Change start time, end time, and FPS</li>
                    <li>Export results to video or still images</li>
                    <li>Drag and drop frames to organize timings</li>
                    <li>Shortcuts for duplicating and pulling frames</li>
                    <li>Performance tweaking with drop-frame option</li>
                </ul>
            </div>



        </div>
        

    </div>
</div>










<div  class="container-padding productivity">

    <h2>Productivity features</h2>

    <div class="row">
        <div class="col productivity-section">
            <span class="box">
                <span>
                    <img src="images/pages/drawing-assistants.png" />
                    <h4>Drawing Assistants</h4>
                </span>

                <p>Use a drawing aid to assist you with vanishing points and straight lines. The Assistant Tool comes with unique assistants to help you make that perfect shape. These tools range from drawing ellipses to creating curvilinear perspective with the Fisheye Point tool. </p>

                <span class="flex-spacer"></span>
                
                <a href="https://docs.krita.org/en/user_manual/painting_with_assistants.html" class="ghost button">Learn more</a>
            </span>
           
        </div>
        <div class="col productivity-section">
            <span class="box">
                <span>
                    <img src="images/pages/layer-management.png" />
                    <h4>Layer Management</h4>
                </span>
                <p>In addition to painting, Krita comes with vector, filter, group, and file layers. Combine, order, and flatten layers to help your artwork stay organized.</p>

                <span class="flex-spacer"></span>

                <a href="https://docs.krita.org/en/user_manual/layers_and_masks.html" class="ghost button">Learn more</a>
            </span>
        </div>
        <div class="col productivity-section">
            <span class="box">
                <span>
                    <img src="images/pages/selections.png" />
                    <h4>Select & Transform</h4>
                </span>
                <p>Highlight a portion of your drawing to work on. There are additional features that allow you to add and remove from the selection. You can further modify your selection by feathering and inverting it. Paint a selection with the Global Selection Mask.</p>

                <span class="flex-spacer"></span>

                <a href="https://docs.krita.org/en/user_manual/selections.html" class="ghost button">Learn more</a>
            </span>
        </div>
    </div>



    <div class="row spacer">
        <div class="col-md-4 productivity-section">
            <span class="box">
                <span>
                    <img src="images/pages/color-management.png" />
                    <h4>Full Color Management</h4>
                </span>
                <p>Krita supports full color management through LCMS for ICC and OpenColor IO for EXR. This allows you to incorporate Krita into your existing color management pipeline. Krita comes with a wide variety of ICC working space profiles for every need. </p>

                <span class="flex-spacer"></span>

                <a href="https://docs.krita.org/en/general_concepts/colors/color_managed_workflow.html" class="ghost button">Learn more</a>
            </span>
        </div>
        <div class="col-md-4 productivity-section">
            <span class="box">
                <span>
                    <img src="images/pages/sun.svg" style="width: 30px" />
                    <h4>GPU Enhanced</h4>
                </span>
                <p>With OpenGL or Direct3D enabled, you will see increased canvas rotation and zooming speed. The canvas will also look better when zoomed out. The Windows version supports Direct3D 11 in place of OpenGL.</p>

                <span class="flex-spacer"></span>

                <a href="https://docs.krita.org/en/reference_manual/preferences/display_settings.html#opengl" class="ghost button">Learn more</a>
            </span>
        </div>
        <div class="col-md-4 productivity-section">
            <span class="box">
                <span>
                    <img src="images/pages/psd-support.png" />
                    <h4>PSD Support</h4>
                </span>
                <p>Open PSD files that even Photoshop cannot open. Load and save to PSD when you need to take your artwork across different programs.</p>
                
                <span class="flex-spacer"></span>

                <a href="https://docs.krita.org/en/general_concepts/file_formats/file_psd.html" class="ghost button">Learn more</a>
            </span>
        </div>
    </div>


    <div class="row spacer">
        <div class="col-md-4 productivity-section">
            <span class="box">
                <span>
                    <img src="images/pages/hdr-icon.png" />
                    <h4>HDR Painting</h4>
                </span>
                <p>Krita is the only painting application that lets you open, save, edit and author HDR and scene-referred images. With OCIO and OpenEXR support, you can manipulate the view to examine HDR images.</p>

                <span class="flex-spacer"></span>
                <a href="https://docs.krita.org/en/reference_manual/hdr_display.html" class="ghost button">Learn more</a>
            </span>
        </div>
        <div class="col-md-4 productivity-section">
            <span class="box">
                <span>
                    <img src="images/pages/dark-python.svg" />
                    <h4>Python Scripting</h4>
                </span>
                <p>Powerful API for creating your own widgets and extending Krita. With using PyQt and Krita's own API, there are many possibilities. A number of plugins come pre-installed for your reference.</p>

                <span class="flex-spacer"></span>
                <a href="https://docs.krita.org/en/user_manual/python_scripting.html" class="ghost button">Learn more</a>
            </span>
        </div>
        <div class="col-md-4 productivity-section">
            <span class="box">
                <span>
                    <img src="images/pages/training-icon.png" />
                    <h4>Training Resources</h4>
                </span>
                <p>In addition to training and educational material found on the Internet, Krita produces its own training material to help you learn all of the tools fast.</p>

                <span class="flex-spacer"></span>
                <a href="https://docs.krita.org/en/index.html" class="ghost button">Learn more</a>
            </span>
        </div>
    </div>



    <div class="row">
        <div class="col-md-8">
            <img src="images/pages/david-revoy-dragon.webp"/>
            <span style="padding-left: 2rem;">{{ i18n "art-by" }} <a style="color: grey; " href="https://www.davidrevoy.com" target="_blank">David Revoy</a></span>

        </div>
    
        <div class="col-md-4" style="margin-top: 8rem;">
            <h2 style="text-align: left">All of this (and more) for FREE</h2>
            <p>Krita is, and will always be, free software. There is a lot more to learn than this overview page, but you should be getting a good idea of what Krita can do.</p>
            <a href="/download" class="button">Get Krita Now</a>
        </div>
    
    </div>


</div>




{{ .Content }}

{{ end }}
