<!-- back to top button-->
<div id="back-to-top-button" style="display: none" onclick="backToTop()" class="ghost button" >
	&blacktriangle;
</div>
<script>
	let mybutton = document.getElementById("back-to-top-button");

	// call function every scroll event
	window.onscroll = function() { scrollFunction() };
	function scrollFunction() {
	let startShowAmount = 1000;
	if (document.body.scrollTop > startShowAmount || document.documentElement.scrollTop > startShowAmount) {
		mybutton.style.display = "block";
	} else {
		mybutton.style.display = "none";
	}
	}

	function backToTop() {
		document.body.scrollTop = 0; // For Safari
		document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
	}
</script>




<!-- decoration footer graphic-->
<style>

	#footer-graphic {
		margin-top: 6rem;
	}

	#globe-icon {
		width: 30px;
		height: 30px;
		display: inline-block;
		position: relative;
		padding: 0px;
		margin-right: 0.5rem;
	}


	@keyframes grow {
		 0%   { transform: scaleY(0.8) scaleX(1.0); }
		50% {  transform: scaleY(1.0) scaleX(1.3); }
		100% {  transform: scaleY(0.8) scaleX(1.0); }

	}

	@keyframes grow-2 {
		0%   { transform: scaleY(0.8) scaleX(1.0); }
		50% {  transform: scaleY(1.0) scaleX(1.5); }
		100% {  transform: scaleY(0.8) scaleX(1.0); }

	}

	#footer-shape-one {
		animation: grow 30s forwards;
		animation-iteration-count: infinite;
		animation-delay: -3s;
	}

	#footer-shape-two {
		animation: grow-2 35s forwards;
		animation-iteration-count: infinite;
		
	}


</style>


<svg
id="footer-graphic"
xmlns="http://www.w3.org/2000/svg"
xmlns:xlink="http://www.w3.org/1999/xlink"  
xml:space="preserve"
viewBox="0 0 210 25"
version="1.1">


<defs id="defs2">
	<linearGradient id="linearGradientMain"  x1="0" x2="0" y1="0" y2="1">
		<stop style="stop-color:#7ba3af;stop-opacity:1;" offset="30%" id="stop4522" />
		<stop style="stop-color:#324148;stop-opacity:1;" offset="80%" id="stop4540" />
		<stop style="stop-color:#324148;stop-opacity:1;" offset="100%" id="stop4520" />
	</linearGradient>

	<linearGradient id="linearGradientAlternate"  x1="0" x2="0" y1="0" y2="1">
		<stop style="stop-color:#324148;stop-opacity:0.5;" offset="50%" id="stop4522" />
		<stop style="stop-color:#324148;stop-opacity:0.3;" offset="80%" id="stop4540" />
		<stop style="stop-color:#324148;stop-opacity:0;" offset="90%" id="stop4520" />
	</linearGradient>
</defs>


<rect id="base-rectangle" x="0" y="15" width="210" height="10" fill="#324148" />

 <g  id="footer-shape-one" >
	<path
	transform="translate(0,-275)"
	style="fill:url(#linearGradientMain); fill-opacity:1; stroke:none;"
	d="M 0,300 210,300 v -14 c 0,0 -27,-9 -56,-9 -28,0 -76,9 -104,8 -24,0 -48,-3 -50,-3 z"
/>
</g> 


 <g id="footer-shape-two" >
	<path
	transform="translate(0,-275)"
	style="fill:url(#linearGradientAlternate); fill-opacity:1; stroke:none;"
	d="M 0,300 210,300 v -14 c 0,0 -27,-9 -56,-9 -28,0 -76,9 -104,8 -24,0 -48,-3 -50,-3 z"
/>
</g> 



</svg>

<footer>


<div  class="container-padding">

	<div class="row">
		<div class="col-md-3 footer-section">
			<h4>{{ i18n "software" }}</h4>
			<a href="{{ relLangURL "/report-a-bug" }}">{{ i18n "report-a-bug" }}</a>
			<a href="{{ relLangURL "/roadmap" }}">{{ i18n "roadmap" }}</a>
			<a href="{{ relLangURL "/release-history" }}">{{ i18n "release-history" }}</a>
			<a href="https://invent.kde.org/graphics/krita" target="_blank">{{ i18n "source-code" }}
				{{ partial "external-link-icon.html" }}
			</a>
			{{- $sitemap := cond (eq .Site.Language.Lang "en") "/en/sitemap.xml" (relLangURL "/sitemap.xml") }}
			<a href="{{ $sitemap }}">{{ i18n "site-map" }}</a>
		</div>
		<div class="col-md-3 footer-section">
			<h4>{{ i18n "education" }}</h4>
			<a href="https://docs.krita.org/{{.Site.Language.Lang}}/">{{ i18n "documentation" }}</a>
			<a href="https://docs.krita.org/KritaFAQ.html">{{ i18n "faq" }}</a>
			<a href="{{ relLangURL "/privacy-statement" }}">{{ i18n "privacy-statement" }}</a>
			<a href="https://docs.krita.org/{{.Site.Language.Lang}}/tutorials.html" target="_blank">
				{{ i18n "tutorials" }}
				{{ partial "external-link-icon.html" }}
			</a>
		</div>
		<div class="col-md-4 footer-section">
			<h4>{{ i18n "foundation" }}</h4>
			<a href="{{ relLangURL "/about/history" }}">{{ i18n "about" }}</a>
			<a href="{{ relLangURL "/donations" }}">{{ i18n "donate" }}</a>
			<a href="{{ relLangURL "/get-involved" }}">{{ i18n "get-involved" }}</a>
			<!-- KDE site translations should work by appending language code to URL -->
			<a href="https://userbase.kde.org/What_is_KDE/{{.Site.Language.Lang}}" target="_blank">
				{{ i18n "what-is-kde" }}
				{{ partial "external-link-icon.html" }}
			</a>
			<a href="{{ relLangURL "/website" }}">{{ i18n "website-license" }}</a>
			<a href="{{ relLangURL "/contact" }}">{{ i18n "contact" }}</a>
		</div>

		<div class="col-md-2">

			<div class="social-media" style="margin-top: 2rem">
				{{ partial "social-media.html" . }}
			</div>
			
		</div>
	</div>

</div>

</footer>

{{ partial "accept-cookies-banner.html" . }}

<!-- Piwik (analytics)-->
<script type="text/javascript">
	var _paq = _paq || [];
	_paq.push(['setCookieDomain', '*.krita.org']);
	_paq.push(['setDomains', '*.krita.org']); 
	_paq.push(['setDocumentTitle', document.domain + "/" + document.title]);
	_paq.push(['trackPageView']);
	_paq.push(['enableLinkTracking']);
	(function() {
		var u="//stats.kde.org/";
		_paq.push(['setTrackerUrl', u+'piwik.php']);
		_paq.push(['setSiteId', 13]);
		var d=document, g=d.createElement('script'),
	s=d.getElementsByTagName('script')[0];
		g.type='text/javascript'; g.async=true; g.defer=true;
	g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
	})();
</script>

<noscript>
	<p>
		<img src="//stats.kde.org/piwik.php?idsite=13" style="border:0;" alt="" />
	</p>
</noscript>
<!-- End Piwik Code -->
