<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<base href="{{ .Site.BaseURL }}">

<title>{{ .Site.Title }}  
{{ if .IsHome }} | {{ i18n "homeTitle" }} {{ else }} | {{ .Title }} {{ end }}
</title>

<link href="css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
<script src="js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script src="js/popper.min.js" crossorigin="anonymous"></script>

{{ if eq (.Site.Language.LanguageDirection | default "ltr") "rtl" }}
    {{ $style := resources.Get "/scss/main.scss" | toCSS | resources.PostCSS (dict "use" "rtlcss" "noMap" true) | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $style.Permalink }}?rtl">
{{ else }}
    {{ $style := resources.Get "/scss/main.scss" | toCSS | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $style.Permalink }}">
{{ end }}

<link href="images/favicon.ico" rel="shortcut icon" type=image/vnd.microsoft.icon>

<link rel="alternate" type="application/rss+xml" href="/index.xml" title="Site Title">
