{{- $currentPage := . -}}

<header class="site-header">

  <!-- mobile navigation below if we are small -->
  <nav class="site-nav max-content-width">
   <a class="logo" href="{{ relLangURL "/" }}">
      <img src="images/krita-logo.png" style="width: 7.5rem" />
    </a>

    <ul class="main-menu">
      {{ range .Site.Menus.main -}}
      <li class="{{ if eq $currentPage.LinkTitle .Name }}active{{ end }}">

          {{ $targetWindow := "_self" }}
          {{ if eq .Params.isExternal true }}
            {{ $targetWindow = "_blank" }}
          {{ end }}

          <a href="{{ .URL | absLangURL }}" target="{{ $targetWindow }}">{{ .Name }}</a>

          {{ if eq .Params.isExternal true }}
            {{ partial "external-link-icon.html" }}
          {{ end }}

      </li>
      {{- end }}


      <li id="language-dropdown-list">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuLangauge" data-bs-toggle="dropdown" aria-expanded="false">
          Language
        </button>
        <ul class="dropdown-menu language-select-list" aria-labelledby="dropdownMenuLangauge">
          {{ range $.Site.Home.AllTranslations }}
          <li style="display: block;">
            <a class="dropdown-item" href="{{ .Permalink }}">{{ .Language.LanguageName }}</a>
          </li>
          {{ end }}
        </ul>
      </li>



      <li class="donate-button">
        <a href="{{ relLangURL "/donations" }}" class="button">{{ i18n "donate" }}</a>
      </li>
  </ul>
  </nav>

<!-- mobile navigation below if we are small -->

<nav class="mobile-site-nav">
  <div >


    <a class="logo" href="{{ relLangURL "/" }}">
      <img src="images/krita-logo.png" style="width: 7.5rem" />
    </a>

    <button class="btn dropdown-toggle drop-down-menu" type="button"  data-bs-toggle="dropdown" aria-expanded="false">
      <svg viewBox="0 -5 80 80" width="25" height="30">
        <rect y="10" width="60" height="5"></rect>
        <rect y="30" width="60" height="5"></rect>
        <rect y="50" width="60" height="5"></rect>
      </svg>
    </button>


    <ul class="dropdown-menu" aria-labelledby="drop-down-menu" style="background: #d7f2ff;">
     {{ range .Site.Menus.main -}}
      <li style="margin: 1.5rem;">

        {{ $targetWindow := "_self" }}
        {{ if eq .Params.isExternal true }}
          {{ $targetWindow = "_blank" }}
        {{ end }}

          <a href="{{ .URL | absLangURL }}" target="{{ $targetWindow }}" style="padding: 2rem; text-decoration: none; color: black;">{{ .Name }}</a>

          {{ if eq .Params.isExternal true }}
            {{ partial "external-link-icon.html" }}
          {{ end }}

      </li>
      {{- end }}

      <li style="margin: 1.5rem;">
        <a style="padding: 2rem; text-decoration: none; color: black;" href="{{ relLangURL "/donations" }}" >{{ i18n "donate" }}</a>
      </li>
    </ul>


  </div>

</nav>


</header>
