{{ define "main" }}

<!-- load in random artwork into this top section-->
<div id="slim-hero">

        <div class="container-padding slim-her-title-container">

            <div class="slim-hero-title">
                <h1>{{ .Title }}</h1>
            </div>
        
        </div>

</div>

<div class="container-padding slim-hero-credit-container">
    <div  class="hero-credit">
        {{ i18n "art-by" }} <a id="credit-link" href="#" target="_blank">Credit name</a>
        {{ partial "external-link-icon.html" }}
        
    </div>

</div>


<div class="post" >
    {{ .Content }}
</div>

<script>
    // create a library of images and artists to draw from
    // make sure we give them credit and a place for people to check out their stuff
    var randomImageLibrary = [
        {
            imageUrl: 'images/pages/ngan-pham-girl-releashing-fish-4-resize.webp',
            artist: 'Ngan Pham',
            portfolioUrl: 'https://www.artstation.com/zevania'
        },
        {
            imageUrl: 'images/pages/albert-weand-adventurers.webp',
            artist: 'Albert Weand',
            portfolioUrl: 'https://www.artstation.com/aweand'
        },
        {
            imageUrl: 'images/pages/serg-grafik-blue-green-landscape.webp',
            artist: 'Serg Grafik',
            portfolioUrl: 'https://www.artstation.com/serggrafik'
        },
        {
            imageUrl: 'images/pages/revoy-plxthumbnailer.webp',
            artist: 'David Revoy',
            portfolioUrl: 'https://www.davidrevoy.com/'
        },
        {
            imageUrl: 'images/pages/ravioli.webp',
            artist: 'RavioliMavioli',
            portfolioUrl: 'https://krita-artists.org/u/raviolimavioli/activity/portfolio'
        },
    ];

    // pick random image from library to use on page
    var randomImageIndex = Math.floor(Math.random()* randomImageLibrary.length );


    // update hero element with new image and to be credit
    var currentStyles = document.getElementById("slim-hero").getAttribute("style");
    document.getElementById("slim-hero")
        .setAttribute("style", `background: url(${ randomImageLibrary[randomImageIndex].imageUrl  });` + 
        'background-size: cover;  background-position: center top;'
        
        );


    // update the credits section
    document.getElementById("credit-link").setAttribute("href", randomImageLibrary[randomImageIndex].portfolioUrl  );
    document.getElementById("credit-link").innerText = randomImageLibrary[randomImageIndex].artist;
</script>

{{ end }}
